<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bulma.css">
    <!-- <link rel="stylesheet" href="css/prism.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>内容详情页</title>
</head>
<body>
    <!-- header -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation" style="height:60px;">
        <div class="container">
            <div class="navbar-brand" style="height:60px;">
                <a href="" class="navbar-item">
                    <span class="has-text-weight-bold is-size-4 is-uppercase has-text-link">pythonBJ</span>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="height:60px">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu" style="height:60px;">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-radiusless has-background-light" type="text" placeholder="Text input">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                  </span>
                                  <!-- <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span> -->
                            </div>
            <!-- <p class="help is-success">This username is available</p> -->
                        </div>
                    </div>
                </div>
                <div class="navbar-end a-size">
                    <a href="" class="navbar-item ">首页</a>
                    <a href="" class="navbar-item">感悟</a>
                    <a href="" class="navbar-item">随笔</a>
                    <!-- <a href="" class="navbar-item">教程</a> -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="" class="navbar-link">教程</a>
                       <div class="navbar-dropdown a-size">
                           <a href="" class="navbar-item">python教程</a>
                           <a href="" class="navbar-item">Django教程</a>
                           <a href="" class="navbar-item">Vue教程</a>
                           <a href="" class="navbar-item">Typescript教程</a>
                       </div>
                    </div>
                </div>

            </div>
        </div>
        </nav>
    </header>
    <!-- end header -->

    <!-- section -->
    <section class="section">
        <div class="container">
           <div class="columns">
               <div class="column is-9 ">

<!-- card -->
                <div class="card is-shadowless" style="margin-bottom: 30px;">

                        <header class="card-header is-shadowless">
                          <a class="card-header-title card-title">
                            爱在春色深深处
                          </a>
                             
                        </header>
                            <div class="card-image">
                                    <figure class="image is-3by1">
                                      <img src="https://bulma.io/images/placeholders/720x240.png" alt="Placeholder image">
                                    </figure>
                             </div>
                           
                            <footer class="card-footer has-background-light">

                                <ul class="is-inline-block">
                                    <li class="is-inline-block">
                                        <span class="icon is-small">
                                            <i class="fa fa-calendar-alt"></i>
                                        </span>
                                        <span><a href="">2019年5月17日</a> </span>
                                    </li>
                                
                                    <li class="is-inline-block">
                                        <span class="icon is-small">
                                            <i class="fa fa-folder-open"></i>
                                        </span>
                                            <span><a href="">Django教程</a></span>
                                    </li>
                                    
                                    <li class="is-inline-block">
                                        <span class="icon is-small">
                                            <i class="fa fa-pencil-alt"></i>
                                        </span>
                                        <span><a href="">编辑</a></span>
                                    </li>
                                </ul>
                            </footer>
                            <div class="card-content">
                                <div class="content has-text-justified" style="padding: 0 15px;">
                                  
<pre> <code>let i = 0;</code></pre>

<p style="line-height: 30px;">
                                            秋风用时光的旋律，用桂花的芬芳、苹果的馨香、菊花的灿烂、牵牛花的奔放、一串红的艳丽，把一望无际的田野乡村，演绎得在自然中沉醉，渲染得天地间空旷而又阳刚。

                                            　　酷热的夏天刚刚过去，秋风吹来，秋牵着一个个节气的手，舞动着长袖，用婀娜多姿的舞姿，用变幻神奇的旋律，动听的音符，把蓝天吹得一会白云飘飘，一会云蒸霞蔚，一会仙女舞袖，一会又涌来千顷碧波。更让那成千上万得雀鸟，不顾辛苦劳顿，路途遥远，赶赴银汉，为牛郎织女架起一座相会的鹊桥，就为这对生离死别的鸳鸯说上一晚悄悄话。
                                            
                                            　　秋天的风，优雅中体现成熟和高雅。砍高粱、掐谷子、掰玉米、刨芋头、割豆子、下苹果、晒柿子、揪石榴、摘花生、耩麦子，一个个音符，无不让秋风演奏得动听、感人。仰望湛蓝的长空，会让你一扫往日沉闷枯燥的苦闷，心情更加舒畅了，一股热爱蓝天热爱大自然钟爱乡村田野的激情，便油然而生。
                                            
                                            　　秋风是多情的。花朵变得更加缤纷多彩，路边山间公园各种小花，一夜之间便把一片片一处处山川河流吹得五颜六色，吹得诗意盎然，吹得舒展酣畅。连多情的小鸟也不愿在花丛打滚，嘴馋的小羊也不忍心张口去啃。特别是那漫山遍野的山丹丹花，把天空的云彩的染得霞光满天。阵阵清香，优雅而芬芳，把那躲在暗处的萤火虫，引得打着灯笼，在山野荒原中游来游去。特别是那一株株菊花，顶住尘土的飞扬，忍得住周边花朵凋谢的寂寞，耐得住干旱的折磨，在秋风中不顾寂寞和冷落暗自开放。
                                            
                                            　　秋风是煽情的。秋风在田野打一个滚，哪一树树青涩碧绿的苹果，一层层红晕铺在脸颊上，变得又香又甜。一树树大枣、山楂就像神仙点化了一样，一个个像红宝石，缀满树头，压弯枝头，甜满心头，让路人看了都垂涎欲滴。最可爱的是那山坡上的柿子，圆晕金黄，一个个像灯笼挂满树梢，引得小鸟满树鸣叫。
                                            
                                            　　秋风是有魅力的。秋风掠过满眼绿色，霎时就会变得金黄，金色的谷穗压弯了枝头，满坡玉米竖起一杆杆摇曳的旗子，露出一排排整齐的金牙。乡间道路上一车车黄豆、花生透出诱人的馨香。正在收获庄稼的乡亲，艰苦的付出得到了加倍的回报，紫铜的脸上添了少有的红润，露出了笑容。大树仿佛一夜之间都变得金黄，满树的银杏叶、哗啦啦的杨树叶金光闪闪，静美而耀眼。似乎是一夜之间，漫山遍野的绿色都变成了满眼金黄，演奏起金黄色的乐章。
                                            
                                            　　秋风是幽静的。秋风吹过，山野田园，变得贤淑幽静起来，没有阳春的怒放，盛夏的狂热，活跃在林子里、小河旁、山榜上的鸟儿，没了浮躁，唱得更加婉转悠扬。流过树根，淌过石块的小溪，不在狂奔湍急，像少女摆动的轻纱，舒缓而宁静。“天阶夜色凉如水，坐看牛郎织女星。”秋风揉圆了那一轮轮月亮，把思恋的洞箫吹奏得揪心荡肠，吹得每每昂起头来，一遍遍对着玉盘倾诉心中的珍藏。
                                            
                                            　　人生的秋季，何尝又不是这样呢？到了我们这样的年龄，已经步入了人生的秋季，虽然没了青春的靓丽，却多了成熟的韵味。“夜半酒醒人未醒，满池荷叶动秋风”。荡漾在秋风中，静听天籁之声，虽未喝酒人却醉了。
</p>
                                   
                                </div>
                            </div>
                    <div class="page">
                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                <div class="pagination-previous is-radiusless is-block has-text-left" style="border: none">
                                    <p class="is-size-7">前一页</p>
                                    <a class="">缘起则聚，缘灭则散</a>
                                </div>
                                <div class="pagination-next is-radiusless is-block has-text-right" style="border: none">
                                    <p class="is-size-7"> 后一页</p>
                                    <a class="">缘起则聚，缘灭则散</a>
                                </div>
                        </nav>
                    </div>

                    <div class="page has-background-light">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h2>幸福关中</h2>
                                    <p>
                                        这是个人说明信息，看看是否显示！这是个人说明信息，看看是否显示！这是个人说明信息，
                                        看看是否显示！这是个人说明信息，
                                        看看是否显示！这是个人说明信息，看看是否显示！这是个人说明信息，看看是否显示！
                                    </p>
                                </div>
                                <p class="buttons">
                                    <a href="" class="button is-info" style="padding: 0 20px">
                                        <span class="icon">
                                            <i class="fa fa-thumbtack"></i>
                                        </span>
                                        <span>4</span>
                                    </a>
                                    <a href="" class="button is-link">
                                        <i class="fab fa-qq"></i>
                                    </a>
                                    <a href="" class="button is-success">
                                        <i class="fab fa-weixin"></i>
                                    </a>
                                    <a href="" class="button is-danger">
                                        <i class="fab fa-weibo"></i>
                                    </a>
                                    <a href="" class="button is-black">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="" class="button is-warning">
                                        <i class="fas fa-rss"></i>
                                    </a>
                                </p>
                            </div>
                        </article>
                    </div>

                    <!-- comments -->
                    <!-- <div class="page comment">

                        <div class="content">
                            <h2>发表评论</h2>
                            <small>电子邮件地址不会被公开。必填项已用*标注</small>
                        </div>


                        
                        <form action="" method="POST">
                            <div class="field">
                                <label for="" class="label">评论</label>
                                <div class="control">
                                    <textarea name="" id="" class="textarea is-radiusless is-shadowless" placeholder="你的评论也可以一针见血"></textarea>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="" class="label">姓名*</label>
                                        <div class="control">
                                            <input type="text" class=" input is-radiusless is-shadowless">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="" class="label">电子邮件*</label>
                                            <div class="control">
                                                <input type="email" class=" input is-radiusless is-shadowless">
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <small class="is-size-7"> 在此浏览器中保存我的名字、电邮和网站。</small>
                                  </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-info is-radiusless" value="发表评论" style="padding: 0 20px">
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <!-- end comments -->    

    <!--登录后 评论 -->

    <div class="card-content">
            <div class="content">
                <h2 class="has-text-weight-bold" style="padding:0 20px 0 15px">2 对 “秋风，唱给田野动听的歌”的想法；</h2>
                <!-- <small>电子邮件地址不会被公开。必填项已用*标注</small> -->
            </div>
      <div class="page">    
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </p>
            </figure>
            <div class="media-content">
                <div class="content is-normal">
                <p style="white-space:normal;">
                    <strong>幸福关中</strong> <br>
                    <small class="is-size-7">2019年5月17日</small> &nbsp;<span class="is-size-7">/</span>&nbsp; <a class=" is-size-7" href="">编辑</a> <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                </p>
                </div>    
    
                <article class="media">
                    
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                            <p>
                                <strong>幸福关中</strong> <br>
                                <small class="is-size-7">2019年5月17日</small> &nbsp;<span class="is-size-7">/</span>&nbsp; <a class=" is-size-7" href="">编辑</a> <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                            </p>
                            </div>    
                        </div>

                        <div class="media-right">
                                <a href="" class="button is-radiusless is-shadowless is-normal"> <span class="is-size-7">回复</span> </a>
                            </div>
                </article>    
                
            </div>
            <div class="media-right">
                <a href="" class="button is-info is-radiusless is-shadowless is-normal"> <span class="is-size-7">回复</span> </a>
            </div>
          
    
    
        </article>
    
        <article class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>幸福关中</strong> <br>
                        <small class="is-size-7">2019年5月17日</small> &nbsp;<span class="is-size-7">/</span>&nbsp; <a class=" is-size-7" href="">编辑</a> <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                    </div>    
                </div>
                <div class="media-right">
                        <a href="" class="button is-info is-radiusless is-shadowless is-normal"> <span class="is-size-7">回复</span> </a>
                    </div>
        </article>
    </div>  

    <div class="page comment">
        <div class="content">
            <h2>发表评论</h2>
                <a class="is-size-7" href="">已登入为<span>幸福关中</span>。</a> <a class="is-size-7" href="">登出？</a>
                <form action="" method="POST" style="margin-top: 20px">
                <div class="field">
                    <label for="" class="label">评论</label>
                    <div class="control">
                        <textarea name="" id="" class="textarea is-radiusless is-shadowless" placeholder="你的评论也可以一针见血"></textarea>
                    </div>
                </div>
                <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-info is-radiusless" value="发表评论" style="padding: 0 20px">
                        </div>
                </div>
            </form>
        </div>
    </div>


                <!-- comments -->
                <div class="page comment">

                        <div class="content">
                            <h2>发表评论</h2>
                            <small>电子邮件地址不会被公开。必填项已用*标注</small>
                        </div>


                        
                        <form action="" method="POST">
                            <div class="field">
                                <label for="" class="label">评论</label>
                                <div class="control">
                                    <textarea name="" id="" class="textarea is-radiusless is-shadowless" placeholder="你的评论也可以一针见血"></textarea>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="" class="label">姓名*</label>
                                        <div class="control">
                                            <input type="text" class=" input is-radiusless is-shadowless">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="" class="label">电子邮件*</label>
                                            <div class="control">
                                                <input type="email" class=" input is-radiusless is-shadowless">
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <small class="is-size-7"> 在此浏览器中保存我的名字、电邮和网站。</small>
                                  </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-info is-radiusless" value="发表评论" style="padding: 0 20px">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end comments -->  

    </div>  
    <!-- end 评论 -->


     </div>
<!-- card end -->


                    
               </div>

               <div class="column is-3  ">
                   <div class="box is-radiusless is-paddingless panel-head-backcolor is-shadowless">
                       <h1 class=" has-text-weight-bold">近期文章</h1>
                       <div class="box-content">
                           <ul>
                               <li>
                                <a href="">爱在春色深深处</a>
                                <time>2019年5月17日</time>
                               </li>
                               <li>
                                    <a href="">爱在春色深深处</a>
                                    <time>2019年5月17日</time>
                               </li>
                               <li>
                                    <a href="">爱在春色深深处</a>
                                    <time>2019年5月17日</time>
                               </li>
                               <li>
                                <a href="">爱在春色深深处爱在春色深深处爱在春色深深处爱在春色深深处爱在春色深深处</a>
                                <time>2019年5月17日</time>
                               </li>
                           </ul>
                            
                       </div>
                   </div>

                   <div class="box is-radiusless is-paddingless panel-head-backcolor is-shadowless">
                        <h1 class=" has-text-weight-bold">文章归档</h1>
                        <div class="box-content">
                            <ul>
                                <li>
                                 <a href="">2019年五月 </a><span>(2)</span> 
                                 <!-- <time>2019年5月17日</time> -->
                                </li>
                                <li>
                                    <a href="">2019年五月 </a><span>(2)</span>
                                </li>
                                
                            </ul>
                             
                        </div>
                    </div>

                    <div class="box is-radiusless is-paddingless panel-head-backcolor is-shadowless">
                            <h1 class=" has-text-weight-bold">分类目录</h1>
                            <div class="box-content">
                                <ul>
                                    <li>
                                     <a href="">2019年五月 </a><span>(2)</span> 
                                     <!-- <time>2019年5月17日</time> -->
                                    </li>
                                    <li>
                                        <a href="">2019年五月 </a><span>(2)</span>
                                    </li>
                                    
                                </ul>
                                 
                            </div>
                    </div>
                    <div class="box is-radiusless is-paddingless panel-head-backcolor is-shadowless">
                            <h1 class=" has-text-weight-bold">标签云</h1>
                            <div class="box-content">
                                    <div class="tags">
                                            <span class="tag">One</span>
                                            <span class="tag">Two</span>
                                            <span class="tag">Three</span>
                                            <span class="tag">Four</span>
                                            <span class="tag">Five</span>
                                            <span class="tag">Six</span>
                                            <span class="tag">Seven</span>
                                            <span class="tag">Eight</span>
                                            <span class="tag">Nine</span>
                                            <span class="tag">Ten</span>
                                            <span class="tag">Eleven</span>
                                            <span class="tag">Twelve</span>
                                            <span class="tag">Thirteen</span>
                                            <span class="tag">Fourteen</span>
                                            <span class="tag">Fifteen</span>
                                            <span class="tag">Sixteen</span>
                                            <span class="tag">Seventeen</span>
                                            <span class="tag">Eighteen</span>
                                            <span class="tag">Nineteen</span>
                                            <span class="tag">Twenty</span>
                                          </div>
                                 
                            </div>
                    </div>
                    <div class="box is-radiusless is-paddingless panel-head-backcolor is-shadowless">
                            <h1 class=" has-text-weight-bold">功能</h1>
                            <div class="box-content">
                                <ul>
                                    <li>
                                     <a href="">管理站点 </a> 
                                     <!-- <time>2019年5月17日</time> -->
                                    </li>
                                    <li>
                                        <a href="">登出</a>
                                    </li>
                                    <li>
                                            <a href="">文章RSS</a>
                                        </li>
                                        <li>
                                            <a href="">评论RSS</a>
                                        </li>
                                </ul>
                                 
                            </div>
                    </div>
               </div>
           </div>
        </div>
    </section>
    <!-- end section -->


    <!-- footer -->
    <footer class="footer">
        <div class=" container has-text-centered">
             © 2019 <a href="">PythonBJ主题测试</a>.  由 <a href="">Django </a> 强力驱动. 
        </div>
    </footer>

    <!---end footer-->

</body>
</html>