{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <title>{{ article.title }} -幸福关中的博客 </title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/code.css' %}">
{% endblock head %}

{% block section %}
<div class="card is-shadowless" style="margin-bottom: 30px;">

    <header class="card-header is-shadowless">
        <a class="card-header-title card-title">
            {{ article.title }}
        </a>
    </header>

    {% if article.picture %}
    <div class="card-image">
        <figure class="image is-3by1">
            <img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.title }}">
        </figure>
    </div>
    {% endif %}
    <footer class="card-footer has-background-light">
        <ul class="is-inline-block">
            <li class="is-inline-block">
                <span class="icon is-small">
                    <i class="fa fa-calendar-alt"></i>
                </span>
                <span>{{ article.pub_date }} </span>
            </li>
            <li class="is-inline-block">
                <span class="icon is-small">
                    <i class="fa fa-folder-open"></i>
                </span>
                <span><a href="{% url 'blog:category' article.category.id %}">{{ article.category.name }}</a></span>
            </li>
            <li class="is-inline-block">
                <span class="icon is-small">
                    <i class="fa fa-book-reader"></i>
                </span>
                <span>阅读({{ article.get_read_num }})</span>
            </li>
            {% if user.is_authenticated %}
            <li class="is-inline-block">
                <span class="icon is-small">
                    <i class="fa fa-pencil-alt"></i>
                </span>
                <span><a href="">编辑</a></span>
            </li>
            {% endif %}
        </ul>
    </footer>
    <div class="card-content">
        <div class="content has-text-justified" style="padding: 0 15px;">

        {{ article.content | safe}}

        </div>
    </div>
    <div class="page">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if per_blog %}
            <div class="pagination-previous is-radiusless is-block has-text-left" style="border: none">
                <p class="is-size-7">前一页</p>
                <a href="{% url 'blog:detail' per_blog.id %}" class="">{{ per_blog}}</a>
            </div>
            {% else %}
            <div class="pagination-previous is-radiusless is-block has-text-left" style="border: none">
                <p class="is-size-7">前一页</p>
{#                <a href="{% url 'blog:detail' per_blog.id %}" class="">{{ per_blog}}</a>#}
            <p class="has-text-danger">前一页什么也没有了，所以不要点了</p>
            </div>
        {% endif %}
            {% if next_blog %}
            <div class="pagination-next is-radiusless is-block has-text-right" style="border: none">
                <p class="is-size-7"> 后一页</p>
                <a href="{% url 'blog:detail' next_blog.id %}" class="">{{ next_blog }}</a>
            </div>
                {% else %}
            <div class="pagination-previous is-radiusless is-block has-text-left" style="border: none">
                <p class="is-size-7">后一页</p>
            <p class="has-text-danger">后一页什么也没有了，所以不要点了</p>
            </div>
            {% endif %}
        </nav>
    </div>

     <div class="page has-background-light">
         <article class="media">
             <figure class="media-left">
                 <p class="image is-64x64">
                     <img src="https://bulma.io/images/placeholders/128x128.png">

                 </p>
             </figure>
             <div class="media-content">
                 <div class="content">
                     <h2>{{ article.author.username }}</h2>
                     <p>
                         这是个人说明信息，看看是否显示！这是个人说明信息，看看是否显示！这是个人说明信息，
                         看看是否显示！这是个人说明信息，
                         看看是否显示！这是个人说明信息，看看是否显示！这是个人说明信息，看看是否显示！
                     </p>
                 </div>
                 <p class="buttons">
                     <a href="" class="button is-info" style="padding: 0 20px">
                         <span class="icon">
                             <i class="fa fa-thumbtack"></i>
                         </span>
                         <span>{{ article.author.article_set.count }}</span>
                     </a>
                     <a href="" class="button is-link">
                         <i class="fab fa-qq"></i>
                     </a>
                     <a href="" class="button is-success">
                         <i class="fab fa-weixin"></i>
                     </a>
                     <a href="" class="button is-danger">
                         <i class="fab fa-weibo"></i>
                     </a>
                     <a href="" class="button is-black">
                         <i class="fab fa-github"></i>
                     </a>
                     <a href="" class="button is-warning">
                         <i class="fas fa-rss"></i>
                     </a>
                 </p>
             </div>
         </article>
     </div>


    <!--登录后 评论 -->

    <div class="card-content">
            <div class="content">
                {% if user.is_authenticated %}
                <h2 class="has-text-weight-bold1" style="padding:0 20px 0 15px">{{ request.user }}欢迎您对 “{{ article.title }}；</h2>
                <!-- <small>电子邮件地址不会被公开。必填项已用*标注</small> -->
                    {% else %}
                    <h2 class="has-text-weight-bold" style="padding:0 20px 0 15px">评论列表</h2>
                {% endif %}
            </div>
      <div class="page">
        {% for comment in comments %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </p>
            </figure>
            <div class="media-content">
                <div class="content is-normal">
                <p style="white-space:normal;">
                    <strong>{{ comment.author }}</strong> <br>
                    <small class="is-size-7">{{ comment.comment_time }}</small> &nbsp;<span class="is-size-7">/</span>&nbsp; <a class=" is-size-7" href="">编辑</a> <br>
                    {{ comment.comment_text }}
                </p>
                </div>

{#                <article class="media">#}
{##}
{#                        <div class="media-left">#}
{#                            <figure class="image is-48x48">#}
{#                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">#}
{#                            </figure>#}
{#                        </div>#}
{#                        <div class="media-content">#}
{#                            <div class="content">#}
{#                            <p>#}
{#                                <strong>{{ article.author.username }}</strong> <br>#}
{#                                <small class="is-size-7">2019年5月17日</small> &nbsp;<span class="is-size-7">/</span>&nbsp; <a class=" is-size-7" href="">编辑</a> <br>#}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.#}
{#                            </p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="media-right">#}
{#                                <a href="" class="button is-radiusless is-shadowless is-normal"> <span class="is-size-7">回复</span> </a>#}
{#                            </div>#}
{#                </article>#}

            </div>
            <div class="media-right">
                <a href="" class="button is-info is-radiusless is-shadowless is-normal"> <span class="is-size-7">回复</span> </a>
            </div>



        </article>
            {% empty %}
            暂无评论
        {% endfor %}

    </div>
{% if user.is_authenticated %}
    <div class="page comment">
        <div class="content">
            <h2>发表评论</h2>

                <a class="is-size-7" href="">已登入为<span>{{ request.user }}</span>。</a> <a class="is-size-7" href="">登出？</a>

                <form action="{% url 'comment:update_comment' %}" method="POST" style="margin-top: 20px">
                    {% csrf_token %}
                <div class="field" id="comment">
                    <label for="" class="label">{{ request.user }}, 欢迎评论</label>
                    <div class="control">
                        <textarea name="comment_text" id="" class="textarea is-radiusless is-shadowless" placeholder="你的评论也可以一针见血"></textarea>
                        <input type="hidden" name="object_id" value="{{ article.id }}">
                        <input type="hidden" name="content_type" value="article">
                    </div>
                </div>
                <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-info is-radiusless" value="发表评论" style="padding: 0 20px">
                        </div>
                </div>
            </form>

        </div>
    </div>

{% else %}
                <!-- comments -->

                    <!-- end comments -->
    <p>还没有登录，请<a href="{% url 'account:login' %}">登录</a> 后发表评论！</p>
 {% endif %}
    </div>

    <!-- end 评论 -->


     </div>

{% endblock %}