<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bulma.css">
    <title>login登录页面</title>
</head>
<body>

<div class="login">
    <div class="login-box column is-3">
    <div class="box is-radiusless is-shadowless has-background-white" >
        <div class="content">
            <h1 class=" is-uppercase has-text-centered has-text-weight-bold" style="padding: 30px 0"> pythonbj</h1>
        </div>
        <form action="" method="POST">
            <div class="field">
                <label for="" class="label">用户名或电子邮件地址</label>
                <div class=" control">
                    <input type="text" class="input is-radiusless is-shadowless is-medium">
                </div>
            </div>
            <div class="field">
                <label for="" class="label">密码</label>
                <div class=" control">
                    <input type="password" class="input is-radiusless is-shadowless is-medium">
                </div>
            </div>
            <div class="field">
                <div class="control">
                  <label class="checkbox">
                 <input type="checkbox">
                    <small class="is-size-7"> 记住我的登录信息</small>
                  </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-link is-radiusless is-pulled-right" value="登录" style="padding: 0 20px">
                </div>
            </div>
            <div class="is-clearfix"></div>
        </form>
    
    </div>
    <a href="">忘记密码？</a>
    <p style="padding: 5px"><a class=" is-size-7" href="">←返回到我的网站首页</a></p>
    </div>
</div>
</body>
</html>