{% extends 'base.html' %}
{% block head %}
    <title>文章归档页</title>
{% endblock %}

{% block section %}
      <div class="box has-background-white is-radiusless is-shadowless">
          <div class="content">
              <p class="is-pulled-left">
                  <span class="has-text-weight-bold is-size-4">{{ year }}年{{ month }}月</span> <br>
                  <span class="is-size-6">每月档案</span>
              </p>
              <a href="" class="button is-warning is-pulled-right">
                  <span class="icon">
                      <i class="fas fa-rss"></i>
                  </span>
                  <span>RSS</span>
              </a>
              <div class=" is-clearfix"></div>
{#              <p class=" has-text-justified is-size-7">#}
{#                  春风轻轻地吹过南国大地，树儿长出绿叶，花儿竞相绽放，湖水泛起波纹，#}
{#                  天空蓝蓝，白云飘飘，阳光明媚， 春风轻轻地吹过南国大地，树儿长出绿叶，花儿竞相绽放，湖水泛起波纹，天空蓝蓝，白云飘飘，阳光明媚，洒…#}
{#              </p>#}
          </div>
      </div>

  {% for article in contacts %}
  <div class="card is-shadowless" style="margin-bottom: 30px;">
    {% if article.picture %}
      <div class="card-image">
          <figure class="image is-3by1">
              <img src="{{ MEDIA_URL }}{{ article.picture }}" alt="{{ article.title }}">
          </figure>
      </div>
    {% endif %}
      <header class="card-header is-shadowless">
          <a href="{% url 'blog:detail' article.id %}" class="card-header-title card-title">
              {{ article.title }}
          </a><span class="tag is-info is-radiusless">{{ article.get_has_reprint_display }}</span>
      </header>
      <div class="card-content">
          <div class="content">
              <p class="has-text-justified" style="padding-left: 20px">
                  {{ article.content|truncatechars:100 }}
              </p>
              <a href="{% url 'blog:detail' article.id %}" class=" button is-radiusless is-medium is-link is-outlined" >
                  <span class="is-size-6">阅读更多</span>
                  <span class="icon is-size-6">
                      <i class="fas fa-arrow-right"></i>
                  </span>
              </a>
          </div>
      </div>
      <footer class="card-footer has-background-light">
          <ul class="is-inline-block">
              <li class="is-inline-block">
                  <span class="icon is-small">
                      <i class="fa fa-calendar-alt"></i>
                  </span>
                  <span>{{ article.add_date }} </span>
              </li>
              <li class="is-inline-block">
                  <span class="icon is-small">
                      <i class="fa fa-user"></i>
                  </span>
                  <span><a href="">{{ article.author }}</a></span>
              </li>
              <li class="is-inline-block">
                  <span class="icon is-small">
                      <i class="fa fa-folder-open"></i>
                  </span>
                  <span><a href="">{{ article.category.name }}</a></span>
              </li>
              <li class="is-inline-block">
                  <span class="icon is-small">
                      <i class="fa fa-comments"></i>
                  </span>
                  <span><a href="">发表评论</a></span>
              </li>
              {% if user.is_authenticated %}
              <li class="is-inline-block">
                  <span class="icon is-small">
                      <i class="fa fa-pencil-alt"></i>
                  </span>
                  <span><a href="">编辑</a></span>
              </li>
              {% endif %}
          </ul>
      </footer>
  </div>
    {% endfor %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if contacts.has_previous %}
  <a class="pagination-previous is-radiusless has-background-white" href="?page={{ contacts.previous_page_number }}">Previous</a>
{% endif %}
{% if contacts.has_next %}
  <a class="pagination-next is-radiusless has-background-white" href="?page={{ contacts.next_page_number }}">Next page</a>
{% endif %}
  <ul class="pagination-list">
  <li><a class="pagination-link is-radiusless has-background-white" aria-label="Goto page 1" href="?page={{ contacts.start_index }}">第一页</a></li>
      {% for page in pages %}
    {% if page == contacts.number %}
        <li><a class="pagination-link is-current is-radiusless" href="?page={{ page }}">{{ page }}</a></li>
    {% else %}
        <li><a class="pagination-link is-radiusless has-background-white" href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
{% endfor %}

{#    <li><span class="pagination-ellipsis">&hellip;</span></li>#}
{#    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>#}
{#    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">当前页：{{ contacts.number }}</a></li>#}
{#    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>#}
{#    <li><span class="pagination-ellipsis">&hellip;</span></li>#}
    <li><a class="pagination-link is-radiusless has-background-white" aria-label="Goto page 86" href="?page={{ contacts.end_index }}">最后一页</a></li>
  </ul>
</nav>



{# {% for blog_date in blog_dates %}#}
{#    <p>#}
{#        <a href="{% url 'blog:detail' blog_date.id %}">{{ blog_date.title }}</a> </p>#}
{#{% endfor %}#}
{% endblock %}