{% extends 'base.html' %}
{% block head %}
    <title>统计计数页面图表</title>
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block section %}
    <div id="container" class="is-fullwidth"></div>

<div class="section">
{#    今天24小时的热门博客#}
    <nav class="panel">
  <p class="panel-heading has-background-white">
   当日热门点击
  </p>
{% for hot_data in today_hot_data %}
  <a class="panel-block" href="{% url 'blog:detail' hot_data.object_id %}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ hot_data.content_object }} &nbsp;<span class="tag is-info is-small">{{ hot_data.read_nums }}</span>
  </a>
{% empty %}
    <a class="panel-block">今天暂时没有热门博客</a>
{% endfor %}
</nav>

{#    昨日热门博客#}
    <nav class="panel">
  <p class="panel-heading has-background-white">
   昨日热门点击
  </p>
{% for hot_data in yesterday_hot_data %}
  <a class="panel-block" href="{% url 'blog:detail' hot_data.object_id %}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ hot_data.content_object }} &nbsp;<span class="tag is-info is-small">{{ hot_data.read_nums }}</span>
  </a>
{% empty %}
    <a class="panel-block">昨天没有热门博客</a>
{% endfor %}

</nav>


{#    一周热门博客#}
    <nav class="panel">
  <p class="panel-heading has-background-white">
   本周热门点击
  </p>
{% for hot_article in hot_article_for_seven_days %}
  <a class="panel-block" href="{% url 'blog:detail' hot_article.id %}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ hot_article.title }} &nbsp;<span class="tag is-info is-small">{{ hot_article.read_nums_sum }}</span>
  </a>
{% empty %}
    <a class="panel-block">本周没有热门博客</a>
{% endfor %}

</nav>


{#    一周热门博客#}
    <nav class="panel">
  <p class="panel-heading has-background-white">
   本月热门点击
  </p>
{% for hot_article in hot_article_for_month_days %}
  <a class="panel-block" href="{% url 'blog:detail' hot_article.id %}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ hot_article.title }} &nbsp;<span class="tag is-info is-small">{{ hot_article.read_nums_sum }}</span>
  </a>
{% empty %}
    <a class="panel-block">本月没有热门博客</a>
{% endfor %}

</nav>

</div>

    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                 // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                {#tickmarkPlacement:'on',#}
                title:{text:'前7日阅读量变化'}
            },
            yAxis: {
                title: {
                    text: null                // y 轴标题
                },
                labels:{enabled:false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_num_s }}                    // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            legend: {enabled: false},
            credits: {enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>

{% endblock %}